.innerBox {
    @apply centered-flex w-4/5 h-4/5 bg-gray-400;
    outline: 2px dashed gray;
    outline-offset: -10px;
    transition: outline-offset 200ms ease-in-out;
}

.innerBox_drag {
    outline-offset: -15px;
}

.outerBox {
    @apply centered-flex w-screen h-screen bg-gray-200;
}

.fileInput {
    display: none;
}
