.innerBox {
    @apply centered-flex w-4/5 h-4/5 bg-gray-400;
    outline: 2px dashed gray;
    outline-offset: -10px;
    transition: outline-offset 200ms ease-in-out;
}

.innerBox_drag {
    outline-offset: -15px;
}

.outerBox {
    @apply centered-flex w-screen h-screen bg-gray-200;
}

.noDisplay {
    display: none;
}

.loadingContainer {
    animation: 2s linear infinite loadingContainer;
    max-width: 100px;
}

@keyframes loadingContainer {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.loadingCircle {
    stroke-width: 10px;
    fill: transparent;
    display: block;
    stroke-linecap: round;
    stroke: #2f3d4c;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    transform-origin: 50% 50%;
    animation: 1.4s ease-in-out infinite both loadingCircle;
}

@keyframes loadingCircle {
    0% {
    }
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0deg);
    }
    50% {
    }
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }
    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}
